@font-face {
    font-family: 'Coco Gothic';
    src: url('fonts/coco-gothic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/coco-gothic.woff') format('woff'); /* Older Browsers */
    font-weight: normal;
    font-style: normal;
  }

header {
    font-family: 'Coco Gothic', sans-serif;
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: fixed;
}

.name {
    font-size: 30px;
    margin-left: 10px;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-flex;
    margin-right: 30px;
    margin-left: 0px;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
}